#chart {
    display: table;
    width: 100%;
    overflow: hidden;
}

#piechart_3d {
    background: gray;
    display: table-cell;
    width: 50%;
}

#chart_div {
    background: silver;
    width: 50%;
    display: table-cell;
}

#top_x_div {
    width: 500px;
    height: 300px;
}